{% extends "base.html" %}
{% load static %}

{% block title %}Blog | Ronny Karani{% endblock %}

{% block content %}
<!-- 📝 Blog Section -->
<section class="section blog-page" id="blog">
  <div class="container">
    <h2 class="section-title">My Blog 📝</h2>
    <div class="blog-grid">
      {% for post in blog_posts %}
      <div class="blog-card">
        <img src="{{ post.image.url }}" alt="{{ post.title }}" class="blog-image"/>
        <h3>{{ post.icon }} <a href="{% url 'blog_detail' post.slug %}" style="text-decoration: none;">
        {{ post.title }}</h3>
        <p>{{ post.excerpt|truncatewords:30 }}</p>
        <div class="blog-meta">
          <span><i class="uil uil-calendar-alt"></i> {{ post.date }}</span>
          <span><i class="uil uil-user"></i> {{ post.author }}</span>
        </div>
        <a href="{% url 'blog_detail' post.slug %}" class="read-more">Read More</a>
      </div>
      {% empty %}
        <p>No skills available yet.</p>
      {% endfor %}
    </div>
    
    <div class="pagination">
  {% if blog_posts.has_previous %}
    <a href="?page=1" class="button button--outline">&laquo; First</a>
    <a href="?page={{ blog_posts.previous_page_number }}" class="button button--outline">Previous</a>
  {% endif %}

  <span class="button disabled">
    Page {{ blog_posts.number }} of {{ blog_posts.paginator.num_pages }}
  </span>

  {% if blog_posts.has_next %}
    <a href="?page={{ blog_posts.next_page_number }}" class="button button--outline">Next</a>
    <a href="?page={{ blog_posts.paginator.num_pages }}" class="button button--outline">Last &raquo;</a>
  {% endif %}
</div>


  </div>
</section>
{% endblock %}
