{% extends "base.html" %}
{% load static %}
{% block title %}💻 Home{% endblock %}
{% block content %}

<!-- 💻 Hero Section -->
<section id="home" class="home section">
  <div class="container home__container">
    <div class="home__content">
      <div class="home__text">
        <h1>Hi 👋, I'm <span>Ronny Karani</span> 👨‍💻</h1>
        <p>A Full-Stack Software Engineer | Building Scalable, Impact-Driven Digital Solutions</p>
        <p>With a background in software, hardware, and digital innovation, I focus on scalable solutions for everyday problems.</p>
        <p>5+ Years of Full-Stack Experience • Over 20+ Satisfied Clients • Proven Delivery of Scalable Systems</p>

        <div class="home__buttons">
          <a href="{% url 'projects' %}" class="button">View Projects</a>
          <a href="{% static 'files/Ronny-Karani-Resume.docx' %}" class="button button--outline" download="Ronny-Karani-Resume.docx" target="_blank" 
          rel="noopener noreferrer">Download Resume</a>
          <a href="#contact" class="button button--outline">Hire Me</a>
        </div>

        <div class="home__socials">
          {% for platform, url in social_links.items %}
            <a href="{{ url }}" target="_blank"><i class="uil uil-{{ platform }}"></i></a>
          {% endfor %}
        </div>
      </div>

      <div class="home__image">
        <img src="{% static 'images/ron.jpeg' %}" alt="Ronny Karani" />
      </div>
    </div>
  </div>
</section>

<!-- 📂 About Section -->
<section class="section" id="about">
  <div class="container">
    <h2 class="section-title">About Me 📂</h2>
    <div class="project-grid">
      <div class="project-card">
        <h3>✨ “Creative Developer • Tech Visionary”</h3>
        <p>🛠️ I’m a Full-Stack Engineer from Kenya specializing in building scalable systems. My work ranges from property management platforms to educational systems, with a track record of delivering high-performance, user-focused solutions.</p>
        <p>🚀 With a passion for technology and a knack for problem-solving, I create innovative solutions that make a difference. My journey spans software engineering, digital innovation, and community impact.</p>
        <p>🌍 I believe in the power of technology to transform lives and communities. My mission is to build impactful digital solutions that solve real-world problems.</p>
      </div>

      <div class="project-card">
        <h3>🛸 Tech Stack</h3>
        <p><b>Frontend:</b> HTML, CSS, Tailwind, Bootstrap, React</p>
        <p><b>Backend:</b> Django, Node.js, TypeScript</p>
        <p><b>Mobile:</b> React Nativ</p>
        <p><b>Databases:</b> PostgreSQL, SQLite, MongoDB, Firebase</p>
        <p><b>Deployment:</b> Netlify, Render, AWS, Heroku</p>
        <p><b>Others:</b> Email Integration, Payments, SEO, Docker, GitHub</p>
      </div>
    </div>
  </div>
</section>

<!-- 💼 Skills Section -->
<section class="section" id="skills">
  <div class="container">
    <h2 class="section-title">What I Do 🎀</h2>
    <div class="project-grid">
      {% for skill_group in skills %}
        <div class="project-card">
          <h3>{{ skill_group.icon }} <b>{{ skill_group.category }}</b></h3>
          <p>{{ skill_group.stack }}</p>
        </div>
         {% empty %}
        <p>No skills available yet.</p>
      {% endfor %}
    </div>
  </div>
</section>

<!-- 🧪 Projects Section -->
<section class="section" id="projects">
  <div class="container">
    <h2 class="section-title">Projects 📚</h2>
    <div class="project-grid">
      {% for project in projects %}
        <div class="project-card">
          <img src="{{ project.image.url }}" alt="{{ project.title }}" class="project-detail-image"/>
          <h3>
            <a href="{% url 'project_details' project.slug %}" style="text-decoration: none;">
            {{ project.title }}
          </a>
          </h3>
          <p>{{ project.description|truncatewords:30|safe }}</p>
          <div class="project-links">
            {% if project.repo_url %}<a href="{{ project.repo_url }}" target="_blank">View Code</a>{% endif %}
            {% if project.live_url %}<a href="{{ project.live_url }}" target="_blank">View Project</a>{% endif %}
            <a href="{% url 'project_details' project.slug %}" class="more-info">More Info</a>
          </div>
        
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<!-- 📝 Blog Section -->
<section class="section" id="blog">
  <div class="container">
    <h2 class="section-title">Latest Blog Posts 📝</h2>
    <div class="blog-grid">
      {% for post in blog_posts %}
        <div class="blog-card">
          <img src="{{ post.image.url }}" alt="{{ post.title }}" class="project-image" />
          <h3><a href="{% url 'blog_detail' post.slug %}" style="text-decoration: none;">
            {{ post.title }}
          </a></h3>
          <p>{{ post.excerpt|truncatewords:30|safe }}</p>
          <a href="{% url 'blog_detail' post.slug %}" target="_blank">Read More</a>
        </div>
      {% empty %}
        <p>No blog posts available.</p>
      {% endfor %}
    </div>
  </div>
</section>


{% endblock %}
